<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="functional">
    <test name="test_HotlineUA">
        <classes>
            <class name="functional.RegisterTest" />
            <class name="functional.FindProductTest" />
            <class name="functional.CompareTest" />
        </classes>
    </test>
</suite>